<h1>API Tester Page</h1>
<div>
  <select data-ng-model="selectedMethod" data-ng-options="method for method in httpMethods"></select>
  <input type="text" data-ng-model="apiString" placeholder="API String"></input>
</div>
<div data-ng-repeat="param in params">
  <input type="text" data-ng-model="param.name"></input>
  <input type="text" data-ng-model="param.value"></input>
  <button data-ng-click="RemoveParam(param.id)">Remove</input>
</div>
<div>
  <button data-ng-click="AddParam()">Add Param</button>
</div>
<div>
  <button data-ng-click="Submit()">Submit</button>
</div>
<div>
  <pre>{{response}}</pre>
</div>


